.strike {
    text-decoration: line-through;
}

code {
    /* inspired by the style in GitHub's markdown renderer */
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 85%;
    padding: 0.2em 0.3em;
    margin: 0;
    /* on GitHub alpha component is 0.05 */
    background-color: rgba(27,31,35,0.07);
    border: 1px solid rgba(27,31,25,0.2);
    border-radius: 6px;
    color: rgb(51, 51, 51);
}

.rst-content code.literal, .rst-content tt.literal {
    color: #a34400;
}

.rst-content .section ul p {
    margin-bottom: 0px !important;
}
