[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
sphinx-autobuild = "*"
recommonmark = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"

[dev-packages]

[requires]
python_version = "3.7"
