# Requirements for ReadTheDocs

# activitywatch repos
git+https://github.com/ActivityWatch/aw-core.git@master#egg=aw-core
git+https://github.com/ActivityWatch/aw-server.git@master#egg=aw-server
git+https://github.com/ActivityWatch/aw-client.git@master#egg=aw-client

# aw-core
appdirs
python-json-logger
peewee
jsonschema
strict-rfc3339
iso8601

# aw-client
requests

# aw-server
flask
flask-cors
flask-restplus
pymongo
mypy

